:root.theme-dark {
  --bg-color: #000028;
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --button-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --decor-color: #FF0070;
  --text-title-color: #000028;
}

.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__rec-element {
  display: block;
}

.theme-dark .title-decor {
  background-color: var(--accent-color);
  color: var(--text-title-color);
}

.theme-dark .link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme-dark .link:hover {
  border-block-end: 1px solid var(--font-color);
}

.theme-dark .link:focus-visible {
  border: 1px solid var(--font-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto {
    --bg-color: #000028;
    --font-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --section-title-color: #FF0070;
    --button-color: #FF0070;
    --button-hover: rgba(255, 0, 112, 0.4);
    --decor-color: #FF0070;
    --text-title-color: #000028;
  }

  .theme-auto .page {
    background-image: url('../images/cover-image-dark.png');
  }

  .theme-auto .header__rec-element {
    display: block;
  }

  .theme-auto .title-decor {
    background-color: var(--accent-color);
    color: var(--text-title-color);
  }

  .theme-auto .link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .theme-auto .link:hover {
    border-bottom: 1px solid var(--font-color);
  }

  .theme-auto .link:focus-visible {
    border: 1px solid var(--font-color);
  }
}