:root.theme-light {
  --bg-color: #FFF1F7;
  --font-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover: rgba(53, 52, 48, 0.4);
  --decor-color: #353430;
  --text-title-color: #353430;
  --accent-footer-light-desktop-color: #ff0070;
}

.theme-light .page {
  background-image: url('../images/cover-image-light.png');
}

.theme-light .header__rec-element {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--button-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.theme-light .header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-light .title-decor {
  background-color: var(--accent-color);
  color: var(--text-title-color);
}

.theme-light .decorated-zone::before {
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.theme-light .decorated-zone::after {
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.theme-light .link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme-light .link:hover {
  border-block-end: 1px solid var(--font-color);
}

.theme-light .link:focus-visible {
  border: 1px solid var(--font-color);
}

.theme-light .content-section__title {
  color: var(--section-title-color);
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --bg-color: #FFF1F7;
    --font-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover: rgba(53, 52, 48, 0.4);
    --decor-color: #353430;
    --text-title-color: #353430;
    --accent-footer-light-desktop-color: #ff0070;
  }

  .theme-auto .page {
    background-image: url('../images/cover-image-light.png');
  }

  .theme-auto .header__rec-element {
    display: none;
  }

  .theme-auto .header__theme-menu-button {
    color: var(--button-color);
  }

  .theme-auto .header__theme-menu-button:hover {
    border: 1px solid var(--button-hover);
  }

  .theme-auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--button-color);
  }

  .theme-auto .header__theme-menu-button_active {
    border: 1px solid var(--button-color);
  }

  .theme-auto .header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .theme-auto .title-decor {
    background-color: var(--accent-color);
    color: var(--text-title-color);
  }

  .theme-auto .decorated-zone::before {
    border-block-start: 1px solid var(--decor-color);
    border-inline-end: 1px solid var(--decor-color);
  }

  .theme-auto .decorated-zone::after {
    border-block-end: 1px solid var(--decor-color);
    border-inline-start: 1px solid var(--decor-color);
  }

  .theme-auto .link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .theme-auto .link:hover {
    border-bottom: 1px solid var(--font-color);
  }

  .theme-auto .link:focus-visible {
    border: 1px solid var(--font-color);
  }

  .theme-auto .content-section__title {
    color: var(--section-title-color);
  }
}

@media (width >= 1024px) and (prefers-color-scheme: light) {
  .theme-auto .footer__title {
    text-shadow: 2px 2px 0 var(--accent-footer-light-desktop-color);
  }
}